/* #Imports
================================================== */
@import "flatui/reset.less";
@import "flatui/column.less";
@import "flatui/color.less";
@import "flatui/mixin.less";


/* #Import a font
================================================== */
.font-face("Mohave", "fonts/Mohave.otf");



/* #Regular Code
================================================== */
h1 {
    font: 36px "Mohave";
}

div.column, div.columns {
    background-color: @alizarin;
    height: 40px;
}

div h2 {
    color: white;
    padding-top: 10px;
    text-align: center;
}










