/* #Imports
================================================== */
@import "flatui/reset.less";
@import "flatui/grid.less";
@import "flatui/color.less";
@import "flatui/mixin.less";
@import "flatui/form.less";
@import "flatui/nav.less";


/* #Import a font
================================================== */
//.font-face("Mohave", "fonts/Mohave.otf");

/* #Regular Code
================================================== */
body {
    opacity: 0;
    h1 {
        font: 36px "Corbel";
        margin-top: 5px;
    }   
} 

div#title {
    margin-bottom: 10px;
    h1 {
        font-size: 56px;
        text-align: center;
        font-family: "Corbel";
    }
    p {
        font-family: "Corbel";
        color: @silver;
        font-size: 24px;
        text-align: center;
    }
}

#grid_system  {
    div.column, div.columns {
        position: relative;
        height: 40px;
    }
    h2,h3 {
        padding: 0;
        width: 100%;
        display: block;
        text-align: center;
        top: 8px;
        position: absolute;
        color: white;
    }
    h2 {
        opacity: 1;
        font-family: "Corbel";
    }
    h3 { 
        right: 20px;
        opacity: 0;
    }
}

#buttons_forms {
    //Text Inputs
    input[type="text"] {
        margin-bottom: 3px;   
    }
}

#colors {
    .color_container {
        div {
            height: 35px;
            h2 {
                text-align: center;
                line-height: 35px;
                opacity: 0;
                cursor: default;
            }
        }
    }
}





