/*Flat Colors*/

//Red
@red:           #e74c3c;
@darkred:       #c0392b;

//Orange
@orange:        #e67e22;
@darkorange:    #d35400;

//Yellow
@yellow:        #f1c40f;
@darkyellow:    #f39c12;

//Blue-Green
@turquoise:     #1abc9c;
@darkturquoise: #16a085;

//Green 
@green:         #2ecc71;
@darkgreen:     #27ae60;

//Blue
@blue:          #3498db;
@darkblue:      #2980b9;

//Purple
@purple:        #9b59b6;
@darkpurple:    #8e44ad;

//Blue-Gray
@nightblue:     #34495e;
@midnightblue:  #2c3e50;

//Gray
@gray:          #95a5a6;
@darkgray:      #7f8c8d;

//Light-Gray
@lightgray:     #ecf0f1;
@silver:        #bdc3c7;

//--------------------------

//Or load your own colors!
//@cool-color:  #BADA55;



//--------------------------
//Color Shortcuts
#red            { background-color: @red;}
#darkred        { background-color: @darkred;}     
#orange         { background-color: @orange;}      
#darkorange     { background-color: @darkorange;}     
#yellow         { background-color: @yellow;}       
#darkyellow     { background-color: @darkyellow;}      
#turquoise      { background-color: @turquoise;}        
#darkturquoise  { background-color: @darkturquoise;}
#green          { background-color: @green;}
#darkgreen      { background-color: @darkgreen;}
#blue           { background-color: @blue;}
#darkblue       { background-color: @darkblue;}
#purple         { background-color: @purple;}
#darkpurple     { background-color: @darkpurple;}

#lightgray      { background-color: @lightgray;}
#silver         { background-color: @silver;}
#gray           { background-color: @gray;}
#darkgray       { background-color: @darkgray;}

#nightblue      { background-color: @nightblue;}
#midnightblue   { background-color: @midnightblue;}